@model IEnumerable<Product>

<table class="table table-hover table-sm table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InternalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit.Code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InternalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit.Code)
                </td>
                <td>
                    <a data-bs-toggle="tooltip" data-bs-title="Detalle" asp-action="Details" asp-route-InternalCode="@item.InternalCode">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                            <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z" />
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
                        </svg></a> |
                    <a data-bs-toggle="tooltip" data-bs-title="Editar" asp-action="Edit" asp-route-InternalCode="@item.InternalCode" class="link-offset-2 link-underline link-underline-opacity-0"><i width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
