@model SaleDelivery

<div class="card mb-3 border-warning" id="@Model.Id">

    <h4 class="card-header text-bg-warning d-flex justify-content-between align-items-center">
        @Model.Number | @Model.DeliveryDate.ToShortDateString()
        <button data-deliverydelete=@Model.Id type ="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-title="Eliminar Despacho">
            <i class="bi-trash" style="vertical-align: middle;"></i>
        </button>
    </h4>

    <div class="card-body">

        <div id="deliveryItemsContainer">
            @if (Model.SaleDeliveryItems != null && Model.SaleDeliveryItems.Count() > 0)
            {
                <partial name="_SaleDeliveryItemsList" model="Model.SaleDeliveryItems" />

            }
            else
            {
                <h3 class="display-5">No existen Items asociados al Despacho</h3>
            }
        </div>

        <dl class="row">
            <div class="col-4">
                <dt class="col-sm">
                    @Html.DisplayNameFor(model => model.TotalNet)
                </dt>
                <dd class="col-sm">
                    @Html.DisplayFor(modelItem => Model.TotalNet)
                </dd>
            </div>
            <div class="col-4">
                <dt class="col-sm">
                    @Html.DisplayNameFor(model => model.TotalTax)
                </dt>
                <dd class="col-sm">
                    @Html.DisplayFor(modelItem => Model.TotalTax)
                </dd>
            </div>
            <div class="col-4">
                <dt class="col-sm">
                    @Html.DisplayNameFor(model => model.TotalDelivery)
                </dt>
                <dd class="col-sm">
                    @Html.DisplayFor(modelItem => Model.TotalDelivery)
                </dd>
            </div>
        </dl>

        <dl class="row">
            <div class="col">
                <dt class="col-sm-2">
                    OC Referencia
                </dt>
                <dd class="col-sm-10">
                    <a href="/Sales/Details?Id=@Model.SaleId">
                        @Html.DisplayFor(modelItem => Model.Sale.Customer.Name) - @Html.DisplayFor(modelItem => Model.Sale.Number)
                    </a>
                </dd>
            </div>
        </dl>

        <dl class="row">
            <div class="col">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Comment)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => Model.Comment)
                </dd>
            </div>
        </dl>

        @if (Model.Sale.SaleState != SaleState.CompleteDelivery)
        {
            <button class="btn btn-secondary btn-sm mb-3" id="addDeliveryItem" data-id="@Model.Id">Agregar Item</button>
        }

        @if (Model.DeliveryState == DeliveryState.WithItems)
        {
            <button class="btn btn-warning btn-sm mb-3" id="addSaleInvoice" data-id="@Model.Id">Facturar Despacho</button>
        }
    </div>

</div>
