@model IEnumerable<SaleInvoicePayment>

<table class="table table-responsive table-hover table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPayment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <a data-paymentdelete=@item.Id data-bs-toggle="tooltip" data-bs-title="Eliminar" href="#">
                        <i class="bi-trash" style="vertical-align: middle;"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


