@page
@using HUECL.alpha._6_0.Interfaces
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.DataProtection;

@model IndexModel
@inject IAuthorizationService AuthorizationService
@inject ICustomDataProtector CustomProtector

@{
    var superUser = await AuthorizationService.AuthorizeAsync(User, "IsSuperUser");
}

@{
    ViewData["Title"] = "Lista de Usuarios";
}

@if (superUser.Succeeded)
{
    <a href="/Identity/Account/Register" class="btn btn-success btn-sm mb-3">
        <i class="bi bi-person-plus"></i> Nuevo Usuario
    </a>

    <table id="usersTable" class="table table-hover align-middle">
        <thead>
            <tr>
                <th>Usuario</th>
                <th class="col-2">Rol</th>
                <th>Email</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserList)
            {
                <tr>
                    <td>@item.ApplicationUser.Name</td>
                    <td class="col-2">
                        @foreach (var rol in item.UserRoles)
                        {
                            <div class="alert-user-list alert-primary" style="padding:0.5em" role="alert">
                                <i class="bi bi-person-check-fill"></i>
                                <strong>@rol.ToString()</strong>
                            </div>
                        }
                    </td>
                    <td>@item.ApplicationUser.Email</td>
                    <td>@item.ApplicationUser.Name @item.ApplicationUser.LastName</td>
                    <td>
                        @{ var encrypted = CustomProtector.Protect(item.ApplicationUser.Id);}

                        <a data-bs-toggle="tooltip" data-bs-title="Detalle" href="/Maintenance/Users/Details?id=@encrypted">
                            <i class="bi bi-person-vcard-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        });
    </script>
}



